<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<script src="https://kit.fontawesome.com/d8d3b27d43.js" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<div class="inner">
					<img class="logorest" src="./assets/imagens/caricatura1-removebg-preview.png" alt="" />
					<ul class="actions special">
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style1">
				<div class="container">
					<div class="row gtr-150">
						<div class="col-6 col-12-medium">
							<header class="major">
								<h2>Cardápio de {{ mensagem }}</h2>
							</header>
							<p>Adipiscing a commodo ante nunc accumsan et interdum mi ante adipiscing. A nunc lobortis non nisl amet vn.</p>
						</div>
						<div class="col-6 col-12-medium imp-medium">
							<span class=""><img  class="img-menu" [src]="imagemUrl" [alt]="mensagem" *ngIf="imagemUrl"></span>
						</div>
					</div>
				</div>
			</section>
		<!-- Two -->
			<section id="one" class="main style2">
				<div class="container">
					<div class="one">
						<div class="imgs">
							<header class="major">
								<h2>Lorem ipsum dolor adipiscing<br />
								amet dolor consequat</h2>
							</header>
							<p>Adipisc</p>
							<div class="card-container">
						<div class="card">
							<img src="./assets/imagens/bife.png" alt="">
						  </div>
						  <div class="card">
							<img src="./assets/imagens/frango.png" alt="">
						  </div>
						  <div class="card">
							<img src="./assets/imagens/tilapia.png" alt="">
						  </div>
						  <div class="card">
							<img src="./assets/imagens/parme.png" alt="">
						  </div>
						  <div class="card">
							<img src="./assets/imagens/feijoada.png" alt="">
						  </div>
						  <div class="card">
							<img src="./assets/imagens/rabada.png" alt="">
						  </div>
						  <div class="card">
							<img src="./assets/imagens/picanha.png" alt="">
						  </div>
						</div>
						</div>
					</div>
				</div>
			</section>

	</body>
</html>