.card {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 500px; /* Define uma largura máxima para o card */
    margin: 0 auto; /* Centraliza o card horizontalmente */
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-page {
    text-align: center;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .contact-info h2 {
    margin-bottom: 10px;
  }
  
  .contact-item i {
    color: #4686a0;;;
  }
  
  .map {
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Adicionado para alinhar ao centro */
  }
  
  .contact-item {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .contact-item i {
    color:  #4686a0;;
    display: block; /* Alteração para exibir os ícones em linhas separadas */
  }

  .icon{
    font-size: 50px;
  }

  .info-text{
    font-size: 15px;
  }

  .rest_map{
    width: 100%;
    height: auto;
  }

  .map {
    width: 90%;
    height: auto;
    text-align: center; /* Alinha a imagem no centro da div */
    border: 1px solid black;
  }

  .map img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 499px) {
    h1{
      font-size: 1.8rem;
    }
    .card{
    height: 100vh;
    }
  }
