<link  rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"  crossorigin="anonymous">
<script  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"  crossorigin="anonymous"></script>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"  crossorigin="anonymous"></script>
<script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEYcOpF8doUaqqaksgFw1W20F-3YyKBbw"></script>

<div class="card">
    <div class="contact-page">
      <h1>Entre em Contato</h1>
      <div class="contact-info">
        <div class="contact-details">
          <div class="contact-item">
            <a href="tel:+556133524072"><i class="fa fa-phone icon"></i></a>
            <span  class="info-text">(61)3352-4072</span>
          </div>
          
          <div class="contact-item">
            <a href="https://wa.me/5561993034501"><i class="fa fa-whatsapp icon"></i></a>
            <span class="info-text">(61)99303-4501</span>
          </div>
          
          <div class="contact-item">
            <a href="mailto:kaioamorim@hotmail.com"><i class="fa fa-envelope icon"></i></a>
            <span  class="info-text">kaioamorim@hotmail.com</span>
          </div>
        </div>
        
        <div class="map">
          <a href="https://www.google.com/maps?q=restaurante+dos+13&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjcyJ67q5v_AhXBRLgEHZvHBRIQ_AUoAXoECAIQAw">
            <img class="rest_map" src="./assets/imagens/maps.png" alt="">
            <span class="info-text">Colônia Agrícola Samambaia, Chácara 127, Lote D Loja 1</span>
          </a> 
        </div>
      </div>
    </div>
  </div>
  