.cabecalho {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  height: 30vh;
}
  .caricatura {
    max-width: 70vw; 
    width: 10%;
    height: auto;
  }

  .img-container {
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .row {
    display: flex;
    align-items: center;
  }
  
  header {
      text-align: right;
      margin-top: 10px;
      white-space: nowrap; /* Impede que o conteúdo do header seja quebrado em várias linhas */
  }
  
  header a{
    color: black;
    margin-right: 25px;
    font-size: 20px;
  }

  .icon{
    margin-right: 15px;
    font-size: 20px;
  }

  
  @media (max-width: 1000px) {
    header a{
      font-size: 12px;
      margin-right: 10px;
    }
    .icon{
      font-size: 12px;
      margin-right: 5px;
    }
  }
  
  @media (max-width: 768px) {
    .caricatura{
      width: 40%;
    }
  }
