footer {
    background-image: url(/assets/imagens/fundo-rodape.png);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
  }

  a{
    color: rgb(56, 56, 56);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
  }
  
  @media (max-width: 576px) {
    footer{
      padding: 0.5rem;
    }
    a{
      font-size: 8px;
    }
  }
  
  