<body>
  <div class="container">
    <div class="banner-container">
      <img class="banner" src="./assets/imagens/caricomfundo.png" alt="">
    </div>
    <div class="day">
      <h1>Cardápio de {{ mensagem }}</h1> <hr> 
      <p>Venha curtir nossas opções de {{ mensagem }} e tomar uma cerveja gelada com a gente! </p>
    </div>
    <div class="banner-container">
      <img  class="img-menu" [src]="imagemUrl" [alt]="mensagem" *ngIf="imagemUrl">
    </div>
    <div *ngIf ="mensagem  === 'Segunda-Feira' || 'Quarta-feira'" class="card-container">
      <div class="card">
        <img src="./assets/imagens/bife.png" alt="">
      </div>
      <div class="card">
        <img src="./assets/imagens/frango.png" alt="">
      </div>
      <div class="card">
        <img src="./assets/imagens/tilapia.png" alt="">
      </div>
      <div class="card">
        <img src="./assets/imagens/parme.png" alt="">
      </div>
      <div class="card">
        <img src="./assets/imagens/feijoada.png" alt="">
      </div>
      <div class="card">
        <img src="./assets/imagens/rabada.png" alt="">
      </div>
      <div class="card">
        <img src="./assets/imagens/picanha.png" alt="">
      </div>>
    </div>
  </div>
  <div class="cardapio-link">
    <button routerLink="/Cardapio">Conheça o cardápio completo</button>
  </div>
</body>


