<body>
  <div class="container">
    <div class="banner-container">
      <img class="banner" src="./assets/imagens/caricomfundo.png" alt="">
    </div>
    <div class="day">
      Cardápio de {{ mensagem }}
    </div>
    <div class="banner-container">
      <img  class="img-menu" [src]="imagemUrl" [alt]="mensagem" *ngIf="imagemUrl">
    </div>
    <div *ngIf ="mensagem  === 'Segunda-Feira' || 'Quarta-feira'" class="card-container">
      <div class="card">
        <img src="./assets/imagens/bife.png" alt="">
      </div>
      <div class="card">
        <img src="./assets/imagens/frango.png" alt="">
      </div>
      <div class="card">
        <img src="./assets/imagens/tilapia.png" alt="">
      </div>
      <div class="card">
        <img src="./assets/imagens/parme.png" alt="">
      </div>
      <div class="card">
        <img src="./assets/imagens/picanha.png" alt="">
      </div>
    </div>
  </div>
</body>

<div class="cardapio-link">
  <button routerLink="/Cardapio">Conheça o cardápio completo</button>
</div>
