.container{
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.title{
    color: white;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.cardapio-link{
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    
}

button{
    margin: 1rem 0 2rem;
    padding: 0.5rem 4rem;
    background-color: gray;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

button:hover{
    transform: scale(1.1);
}